{% if page.id %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ page.title | strip_html | jsonify }},
  "description": {{ page.share-description | default: page.subtitle | default: page.content | strip_html | truncatewords: 50 | strip | jsonify }},
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}",
  "url": "{{ page.url | absolute_url }}",
  {% if page.cover-img or page.thumbnail-img or page.share-img %}
  "image": "{{ page.share-img | default: page.cover-img | default: page.thumbnail-img | absolute_url }}",
  {% elsif site.avatar %}
  "image": "{{ site.avatar | absolute_url }}",
  {% endif %}
  "author": {
    "@type": "Person",
    "name": {{ page.author | default: site.author | strip_html | jsonify }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ site.title | strip_html | jsonify }},
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.avatar | absolute_url }}"
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.url | absolute_url }}"
  }
}
</script>
{% else %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": {{ site.title | strip_html | jsonify }},
  "url": "{{ site.url }}{{ site.baseurl }}/",
  "description": {{ site.sidebar_intro | strip_html | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ site.author | strip_html | jsonify }}
  }
}
</script>
{% endif %}
