---
layout: base
---

{% include header.html type="post" %}

<main
  class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}"
>
  <div class="main-row">
    <div class="left-container">
      <div>
        <!-- admax -->
        <script src="https://adm.shinobi.jp/s/891b90b77c0ece933c0125938b7a0bb2"></script>
        <!-- admax -->
      </div>
      <div>
        <strong>おすすめの記事</strong>
        <ul class="sidebar-list">
          <li>
            <a href="/2025-06-24-eigo-read-1/">英語長文リーダー紹介</a>
          </li>
          <li>
            <a href="/2025-07-19-fire-storage-err/"
              >[FirebaseError: Firebase...</a
            >
          </li>
          <li><a href="/2025-07-18-expo-env/">expoで作成したアプリを...</a></li>
        </ul>
        <strong>おすすめアプリ</strong>
        <ul class="sidebar-list">
          <li>
            <a
              href="https://apps.apple.com/app/eigo-read/id6748108116"
              target="_blank"
              >英語長文リーダー</a
            >
          </li>
          <li>
            <a
              href="https://apps.apple.com/us/app/%E6%8E%98%E3%81%A3%E3%81%A6%E9%81%8B%E3%81%B6%E6%96%B0%E6%84%9F%E8%A6%9A%E5%80%89%E5%BA%AB%E7%95%AA%E3%82%B2%E3%83%BC%E3%83%A0/id1610742687"
              target="_blank"
              >倉庫番</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="center-container">
      {% if page.gh-repo %} {% assign gh_split = page.gh-repo | split:'/' %} {%
      assign gh_user = gh_split[0] %} {% assign gh_repo = gh_split[1] %}

      <div id="header-gh-btns">
        {% if page.gh-badge.size > 0 %} {% for badge in page.gh-badge %} {% case
        badge %} {% when 'star'%}
        <iframe
          src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=star&count=true"
          frameborder="0"
          scrolling="0"
          width="120px"
          height="20px"
        ></iframe>
        {% when 'watch'%}
        <iframe
          src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=watch&v=2&count=true"
          frameborder="0"
          scrolling="0"
          width="120px"
          height="20px"
        ></iframe>
        {% when 'fork'%}
        <iframe
          src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=fork&count=true"
          frameborder="0"
          scrolling="0"
          width="120px"
          height="20px"
        ></iframe>
        {% when 'follow'%}
        <iframe
          src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&type=follow&count=true"
          frameborder="0"
          scrolling="0"
          width="220px"
          height="20px"
        ></iframe>
        {% endcase %} {% endfor %} {% endif %}
      </div>
      {% endif %} {% if page.before-content %}
      <div class="before-content">
        {% for file in page.before-content %} {% include {{ file }} %} {% endfor
        %}
      </div>
      {% endif %}

      <!-- admax -->
      <script src="https://adm.shinobi.jp/s/ccf636bbf7be7949aad2090c3ec82faa"></script>
      <!-- admax -->

      <div class="blog-post">{{ content }}</div>

      <!-- admax -->
      <script src="https://adm.shinobi.jp/s/ccf636bbf7be7949aad2090c3ec82faa"></script>
      <!-- admax -->

      {% if page.tags.size > 0 %}
      <div class="blog-tags">
        <span>Tags:</span>
        {% for tag in page.tags %}
        <a href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>
        {% endfor %}
      </div>
      {% endif %} {% if page.after-content %}
      <div class="after-content">
        {% for file in page.after-content %} {% include {{ file }} %} {% endfor
        %}
      </div>
      {% endif %} {% if page.social-share %} {% include social-share.html %} {%
      endif %}

      <ul class="pagination blog-pager">
        {% if page.previous.url %}
        <li class="page-item previous">
          <a
            class="page-link"
            href="{{ page.previous.url | relative_url }}"
            data-toggle="tooltip"
            data-placement="top"
            title="{{page.previous.title | strip_html | xml_escape}}"
          >
            <i class="fas fa-arrow-left" alt="Previous Post"></i>
            <span class="d-none d-sm-inline-block">Previous Post</span>
          </a>
        </li>
        {% endif %} {% if page.next.url %}
        <li class="page-item next">
          <a
            class="page-link"
            href="{{ page.next.url | relative_url }}"
            data-toggle="tooltip"
            data-placement="top"
            title="{{page.next.title | strip_html | xml_escape}}"
          >
            <span class="d-none d-sm-inline-block">Next Post</span>
            <i class="fas fa-arrow-right" alt="Next Post"></i>
          </a>
        </li>
        {% endif %}
      </ul>
      {% include comments.html %}
    </div>
    <div class="right-container">
      <div>
        <!-- admax -->
        <script src="https://adm.shinobi.jp/s/891b90b77c0ece933c0125938b7a0bb2"></script>
        <!-- admax -->
      </div>
      <div></div>
    </div>
  </div>
</main>
